body {
  background-color: #111;
  color: #EEE;
  font-family: 'Roboto Slab', serif;
}

.exemple {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #EEE;
  margin: 30px;
  padding: 10px;
}

.exemple-Colon1-text {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #EEE;
  margin: 5px;
  padding: 10px;
}

.exemple-Colon2-Image{
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #EEE;
  margin: 5px;
  padding: 10px;
}

.reponce{
  display: inline;
}

.consigne-color{
  color: rgba(0, 191, 255, 1.5);
}
